<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="report">
    <resultMap id="reportResultMap" type="com.woosan.hr_system.report.model.Report">
        <id property="reportId" column="report_id"/>
        <result property="writerId" column="writer_id"/>
        <result property="approverId" column="approver_id"/>
        <result property="approverName" column="approver_Name"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="status" column="status"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="completeDate" column="complete_date"/>
    </resultMap>
<!--============================================== 생성 SQL문 =======================================================-->
    <!-- 보고서 생성 -->
    <insert id="createReport" parameterType="map" useGeneratedKeys="true" keyProperty="reportId">
        INSERT INTO reports
        (title, content, approver_id, approver_name, complete_date, writer_id, created_date, status)
        VALUES
            (
            #{title},
            #{content},
            #{approverId},
            #{approverName},
            #{completeDate},
            #{writerId},
            #{createdDate},
            #{status}
            )
    </insert>

<!--============================================== 생성 SQL문 =======================================================-->
<!--============================================== 조회 SQL문 =======================================================-->
    <!-- 모든 보고서 조회 (결재가필요한 보고서 조회, 내가 쓴 보고서 조회에 사용) -->
    <select id="getAllReports" parameterType="string" resultType="com.woosan.hr_system.report.model.Report">
        SELECT * FROM reports WHERE writer_id = #{employeeId}
    </select>

    <!-- 보고서 세부 조회 -->
    <select id="getReportById" parameterType="int" resultType="com.woosan.hr_system.report.model.Report">
        SELECT
            report_id AS reportId,
            writer_id AS writerId,
            title AS title,
            content AS content,
            complete_date AS completeDate,
            created_date AS createdDate,
            modified_date AS modifiedDate,
            approver_id As approverId,
            approver_name AS approverName,
            status AS status,
            reject_reason AS rejectReason
        FROM reports
        WHERE report_id = #{reportId}
    </select>

    <!-- 내가 작성한 보고서 검색 -->
    <select id="search" parameterType="map" resultMap="reportResultMap">
        SELECT *
        FROM reports
        <where>
            writer_id = #{writerId}
            <if test="keyword != null and keyword != '' and searchType == 0">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%') OR
                reject_reason LIKE CONCAT('%', #{keyword}, '%') OR
                approver_name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 1">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 2">
                AND (approver_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
                AND DATE_FORMAT(created_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="approvalStatus != null and approvalStatus != ''" >
                AND status = #{approvalStatus}
            </if>
        </where>
        ORDER BY created_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 내가 작성한 보고서 검색 -->
    <select id="count" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM reports
        <where>
            writer_id = #{writerId}
            <if test="keyword != null and keyword != '' and searchType == 0">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%') OR
                reject_reason LIKE CONCAT('%', #{keyword}, '%') OR
                approver_name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 1">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 2">
                AND (
                approver_name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
                AND DATE_FORMAT(created_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="approvalStatus != null and approvalStatus != ''" >
                AND status = #{approvalStatus}
            </if>
        </where>
    </select>

    <!-- 결재할 보고서 검색 -->
    <select id="toApproveSearch" parameterType="map" resultMap="reportResultMap">
        SELECT
        r.*,
        e.name AS writerName
        FROM reports r JOIN employees e ON r.writer_id = e.employee_id
        <where>
            r.approver_id = #{approverId}
            <if test="keyword != null and keyword != '' and searchType == 0">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%') OR
                reject_reason LIKE CONCAT('%', #{keyword}, '%') OR
                e.name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 1">
                AND (
                r.title LIKE CONCAT('%', #{keyword}, '%') OR
                r.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 2">
                AND (
                e.name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="approvalStatus != null and approvalStatus != ''" >
                AND r.status = #{approvalStatus}
            </if>
            <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
                AND DATE_FORMAT(r.created_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY r.created_date DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 결재할 보고서 검색  -->
    <select id="toApproveCount" parameterType="map" resultType="int">
        SELECT COUNT(r.writer_id) FROM reports r JOIN employees e ON r.writer_id = e.employee_id
        <where>
            r.approver_id = #{approverId}
            <if test="keyword != null and keyword != '' and searchType == 0">
                AND (
                title LIKE CONCAT('%', #{keyword}, '%') OR
                content LIKE CONCAT('%', #{keyword}, '%') OR
                reject_reason LIKE CONCAT('%', #{keyword}, '%') OR
                e.name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 1">
                AND (
                r.title LIKE CONCAT('%', #{keyword}, '%') OR
                r.content LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="keyword != null and keyword != '' and searchType == 2">
                AND (
                e.name LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="approvalStatus != null and approvalStatus != ''" >
                AND r.status = #{approvalStatus}
            </if>
            <if test="startDate != '' and startDate != null and endDate != '' and endDate != null">
                AND DATE_FORMAT(r.created_date, '%Y-%m-%d') BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <!-- 최근 5개 보고서 조회 -->
    <select id="getRecentReports" resultType="com.woosan.hr_system.report.model.Report">
        SELECT
            report_id AS reportId,
            writer_id AS writerId,
            title,
            created_date AS createdDate,
            approver_name AS approverName,
            status
        FROM reports
        WHERE writer_id = #{writerId}
        ORDER BY
            created_date  desc
            LIMIT 5;
    </select>

    <!-- 결재 미처리 보고서 조회(MANAGER) -->
    <select id="getUnprocessedReports" resultType="com.woosan.hr_system.report.model.Report">
        SELECT
            r.report_id AS reportId,
            r.writer_id AS writerId,
            e.name AS writerName,
            r.title,
            r.created_date AS createdDate,
            r.approver_name AS approverName,
            r.status
        FROM reports r JOIN employees e ON employee_id = writer_id
        WHERE r.approver_id = #{approverId} AND r.status = '미처리'
        ORDER BY r.created_date;
    </select>

    <!-- 보고서 통계 조회 -->
    <select id="getReportStats" parameterType="map" resultType="com.woosan.hr_system.report.model.ReportStat">
        SELECT
        DATE_FORMAT(created_date, '%Y-%m') AS month,
        COUNT(status) AS total,
        SUM(CASE WHEN status = '승인' THEN 1 ELSE 0 END) AS finished,
        SUM(CASE WHEN status IN ('미처리', '거절') THEN 1 ELSE 0 END) AS unfinished
        FROM reports
        <where>
        <if test="writerIds != null and writerIds.size() > 0">
            AND writer_id IN
            <foreach item="writerId" collection="writerIds" open="(" separator="," close=")">
                #{writerId}
            </foreach>
        </if>
        <if test="statisticStart != null and statisticEnd != null">
            AND DATE_FORMAT(created_date, '%Y-%m-%d') BETWEEN #{statisticStart} AND #{statisticEnd}
        </if>
        </where>
        GROUP BY month
        ORDER BY month
    </select>

    <select id="getReportStats2" parameterType="map" resultType="com.woosan.hr_system.report.model.ReportStat">
        SELECT
        DATE_FORMAT(created_date, '%Y-%m') AS month,
        COUNT(status) AS total,
        SUM(CASE WHEN status = '승인' THEN 1 ELSE 0 END) AS finished,
        SUM(CASE WHEN status IN ('미처리', '거절') THEN 1 ELSE 0 END) AS unfinished
        FROM reports
        <where>
            <if test="writerId != null and writerId != ''">
                AND writer_id = #{writerId}
            </if>
            <if test="statisticStart != null and statisticEnd != null">
                AND DATE_FORMAT(created_date, '%Y-%m-%d') BETWEEN #{statisticStart} AND #{statisticEnd}
            </if>
        </where>
        GROUP BY month
        ORDER BY month
    </select>
<!--============================================== 조회 SQL문 =======================================================-->
<!--============================================== 수정 SQL문 =======================================================-->
    <!-- 보고서 수정 -->
    <update id="updateReport" parameterType="com.woosan.hr_system.report.model.Report">
        UPDATE reports
        SET title         = #{title},
            content       = #{content},
            approver_id   = #{approverId},
            approver_name = #{approverName},
            complete_date = #{completeDate},
            modified_date = #{modifiedDate}
        WHERE report_id = #{reportId}
    </update>
    <!-- 보고서 결재처리 -->
    <update id="updateApprovalStatus" parameterType="com.woosan.hr_system.report.model.Report">
        UPDATE reports
        SET status        = #{status},
            reject_reason = #{rejectReason}
        WHERE report_id = #{reportId}
    </update>
<!--============================================== 수정 SQL문 =======================================================-->
<!--============================================== 삭제 SQL문 =======================================================-->

    <!-- 보고서 삭제 -->
    <delete id="deleteReport" parameterType="int">
        DELETE FROM reports WHERE report_id = #{reportId}
    </delete>

    <!-- 삭제된 요청을 공통 휴지통에 데이터 삽입 -->
    <insert id="insertReportIntoSharedTrash" parameterType="int">
        INSERT INTO shared_trash
        (original_table, original_id, deleted_date, created_date, deleted_by, content, approver_writer_id,
         approver_writer_name, completion_due_date, title, modified_date, status, reject_reason)
        SELECT
            'reports', report_id, NOW(), created_date, writer_id, content, approver_id,
            approver_name, complete_date, title, modified_date, status, reject_reason
        FROM reports
        WHERE report_id = #{reportId}
    </insert>

<!--============================================== 삭제 SQL문 ====================================================-->

</mapper>
