<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<th:block layout:fragment="css">
    <link th:href="@{/css/vacation/detail.css}" rel="stylesheet"/>
    <link th:href="@{/css/common/button.css}" rel="stylesheet"/>
</th:block>

<div class="detail-container">
    <div class="content-header">
        <div class="content-header-left"></div>
        <div class="title content-header-center">휴가 신청서</div>
        <div class="content-header-right">
            <button class="inner-btn tomato-btn big" th:vacationId="${vacationInfo.vacationId}" th:onclick="goToUpdateForm(this.getAttribute('vacationId'))">수정</button>
            <button class="inner-btn red-btn big" th:vacationId="${vacationInfo.vacationId}" th:onclick="deleteVacation(this.getAttribute('vacationId'))">삭제</button>
        </div>
    </div>
    <table class="employee-details">
        <tr>
            <td class="section-title">사원 ID</td>
            <td class="section-title">이름</td>
            <td class="section-title">부서</td>
            <td class="section-title">직급</td>
            <td class="section-title">연락처</td>
        </tr>
        <tr>
            <td th:text="${vacationInfo.employeeId}"></td>
            <td th:text="${employeeInfo.name}"></td>
            <td th:text="${employeeInfo.department}"></td>
            <td th:text="${employeeInfo.position}"></td>
            <td th:text="${employeeInfo.phone}"></td>
        </tr>
    </table>
    <table class="details">
        <tr>
            <td class="section-title">휴가 유형</td>
            <td th:text="${vacationInfo.vacationType}"></td>
        </tr>
        <tr>
            <td class="section-title">사용 일수</td>
            <td th:text="${vacationInfo.usedDays} + '일'"></td>
        </tr>
        <tr>
            <td class="section-title">휴가 시작일</td>
            <td th:text="${#temporals.format(vacationInfo.startAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
            <td class="section-title" colspan="1">휴가 종료일</td>
            <td th:text="${#temporals.format(vacationInfo.endAt, 'yyyy-MM-dd HH:mm')}" colspan="2"></td>
        </tr>
        <tr>
            <td class="section-title" style="height: 80px">사유</td>
            <td th:text="${vacationInfo.reason}"></td>
        </tr>
    </table>
    <table class="details">
        <tr>
            <td class="section-title">승인 상태</td>
            <td th:text="${vacationInfo.approvalStatus}"
                th:classappend="${vacationInfo.approvalStatus == '미처리'} ? 'grey' :
                                    (${vacationInfo.approvalStatus == '승인'} ? 'green' :
                                    (${vacationInfo.approvalStatus == '거절'} ? 'red' : ''))"></td>
        </tr>
        <tr>
            <td class="section-title">처리자</td>
            <td th:text="${vacationInfo.processingBy}"></td>
        </tr>
        <tr>
            <td class="section-title">처리 일시</td>
            <td th:text="${#temporals.format(vacationInfo.processingAt, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </table>
    <div class="submission-declaration">
        <p>상기 본인은 위와 같이 휴가 신청서를 제출합니다.</p>
    </div>
    <div class="applicant-signature">
        <span th:text="${#temporals.format(vacationInfo.createdAt, 'yyyy년 MM월 dd일')}"></span>
        <span style="font-size:20px;">신청인 : <span th:text="${employeeInfo.name}" style="margin-right: 7px"></span>(인)</span>
    </div>
    <div class="company-signature">
        <p>주식회사 하루하루</p>
        <img class="signature" src="/images/icons/signature.png">
    </div>
</div>
</html>
